/* VAR */
:root {
    --main-color: #505090;
    --secondary-color: #E3E367;
    --font-light-color: #fff;
    --font-dark-color: #3F3F44;
}

/* MAIN */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

[class*="__container"] {
    margin: 0 auto;
}

.container_center {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
}

/* INPUTS */

/* HEADER */
.header {
    display: flex;

    align-items: center;
    justify-content: space-around;
    
    height: 75px;
    width: 100%;

    background-color: var(--main-color);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.header_logo {
    position: absolute;
    display: flex;

    color: #fff;

    left: 50px;
    top: 0px;
}
.header_logo h1 {
    font-size: 30px;
    font-family: inherit;
}
.header_logo svg {
    user-select: none;

    margin-top: 10px;
    margin-left: 5px;

    fill: var(--secondary-color);

    transition: .15s;
}
.header_logo:hover svg {
    transform: scale(1.1);
    transition: transform .15s;
}
.header_logo:hover {
    cursor: pointer;

    color: var(--secondary-color);
    transition: color .15s;
}

.header_nav {
    width: 50%;
    height: 100%;
}
.header_nav ul {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 100%;


}
.header .header_nav ul li {
    list-style: none;
}
.header .header_nav ul li a{
    user-select: none;

    font-family: inherit;
    font-size: 18px;
    
    color: var(--font-light-color);
    transition: color .15s;
}
.header .header_nav ul li a:hover {
    cursor: pointer;

    color: var(--secondary-color);
    transition: color .15s;
}

.header_user {
    position: absolute;
    right: 75px;
    top: 15px;
}
.header_user svg {
    fill: var(--font-light-color);

    transition: fill .15s;
}
.header_user > div{
    position: absolute;
    right: -40px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);

    width: 125px;
    height: 70px;

    border-radius: 5px;

    background-color: #fff;
    opacity: 0;

    z-index: 9;

    transform: translateY(-50px) scale(0);
    transition: .15s;
}
.header_user > div > div:hover {
    cursor: pointer;
    color: var(--secondary-color);

    transition: color .15s;
}
.header_user:hover svg {
    fill: var(--secondary-color);

    transition: fill .15s;
}
.header_user:hover > div {
    opacity: .95;
    transform: translateY(0px) scale(1);

    transition: .15s;
}


/* CONTENT */
.content__container {
    position: relative;
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.content_title {
    position: absolute;
    top: 30px;

    width: 500px;
    text-align: center;

    font-weight: bold;

    color: var(--font-dark-color);
}
.content_form {
    border-radius: 25px;
    padding: 55px 30px 55px 30px;
    box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
}