.login-reg-block {
    background-color: #ffffff;

    border-radius: 35px;
}

.login-reg-form {
    display: flex;

    justify-content: space-around;
    align-items: center;

    flex-direction: column;

    width: 100%;
    height: 100%;
}

.login-reg-legend {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 30px;

    font-family: PT Sans Bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    color: #373737;
}

.log-reg-inputs-container {
    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-direction: column;
}