.login-reg-block {
    background-color: #ffffff;
    
    width: 300px;
    border-radius: 35px;
}

.login-reg-form {
    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-direction: column;

    width: 100%;
    height: 100%;
}

.login-reg-legend {
    display: flex;

    justify-content: center;
    align-items: center;

    font-family: PT Sans Bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

    margin-top: 20px;

    color: #373737;
}

.log-reg-inputs-container {
    display: flex;

    justify-content: space-between;
    align-items: center;
    
    gap: 30px;

    flex-direction: column;
}

.login-block {
    height: 300px;
}
.login-block .log-reg-inputs-container {
    width: 100%;
    height: 90px;
}

.reg-block {
    display: none; 

    height: 350px;
}
.reg-form-inputs-container {
    height: 200px;
    margin-top: 20px;
    opacity: 0;
    transition: .1s;
}
.reg-form-inputs-container-show {
    opacity: 1;
    transition: .1s;
}