.login-reg-input-container {
    display: flex;
    position: relative;

    justify-content: space-around;
    align-items: center;

    width: 270px;
    height: 30px;
}
.login-reg-input-icon {
    fill: #373737;
}

.login-reg-input {
    outline: none;

    width: 230px;
    height: 30px;
    padding: 3px;

    font-family: PT Sans, sans-serif;
    font-size: 20px;

    background-color: transparent;
    color: #373737;

    border: 0;
    border-bottom: 1px solid #373737;
}

.login-reg-label {
    position: absolute;
    z-index: 1;

    user-select: none;

    top: 5px;
    left: 30px;

    font-family: PT Sans, sans-serif;
    font-size: 18px;

    color: #373737;

    opacity: .8;

    transition: .15s;
}

.login-reg-input:focus ~ .login-reg-label,
.login-reg-input:not(:placeholder-shown) ~ .login-reg-label {
    top: -20px;
    opacity: .5;
    font-size: 14px;

    transition: .15s;
}

.login-reg-visible-switcher {
    position: absolute;
    display: flex;

    align-items: center;

    right: 10px;

    z-index: 1;
}
.password-visible-switcher-on {
    display: none;
}
.login-reg-visible-switcher>input {
    opacity: 0;
}
#password-visible-switcher:checked ~ .password-visible-switcher-on {
    display: block;
}
#password-visible-switcher:checked ~ .password-visible-switcher-off {
    display: none;
}