.login-reg-input-container {
    display: flex;
    position: relative;

    justify-content: space-around;
    align-items: center;

    width: 250px;
    height: 30px;
}

.login-reg-input-icon {
    position: absolute;
    left: 20px;
    opacity: .8;
    fill: #373737;
}

.login-reg-input {
    outline: none;

    width: 180px;
    height: 30px;
    padding: 3px;
    padding-left: 30px;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;

    background-color: transparent;
    color: #373737;
    z-index: 1;

    border: 0;
    border-bottom: 1px solid #5F5F5F;
    
    transition: border-bottom-color .1s;
}
.login-reg-input-container-without-icon .login-reg-input{
    margin-left: 25px;
    padding-left: 3px;
    width: 180px;
}
  
  .__select {
    position: relative;
    width: 180px;
    height: 20px;
    z-index: 99;
}
.__select[data-state="active"] .__select__title::before {
    transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state="active"] .__select__title::after {
    transform: translate(3px, -50%) rotate(45deg);
}
.__select[data-state="active"] .__select__content {
    opacity: 1;
}
.__select[data-state="active"] .__select__label + .__select__input + .__select__label {
    max-height: 40px;
    border-top-width: 1px;
}
.__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.__select__title::before, .__select__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #333;
    transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
    transform: translate(3px, -50%) rotate(-45deg);
}
.__select__content {
    position: absolute;
    top: 28px;
    left: 3px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
    background-color: #fff;
    border: 1px solid #c7ccd1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}
.__select__input {
    display: none;
}
.__select__input:checked + label {
    background-color: #dedede;
}
.__select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none;
}
.__select__label {
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
}
.__select__label + input + .__select__label {
    border-top: 0 solid #c7ccd1 60;
}
.__select__label:hover {
    background-color: #d8093a !important;
    color: #fff;
}


.login-reg-label {
    position: absolute;
    z-index: 0;

    cursor: text;

    user-select: none;

    top: 5px;
    left: 50px;

    font-family: PT Sans, sans-serif;
    font-size: 18px;

    color: #373737;

    opacity: .8;

    transition: .15s;
}

.login-reg-input:focus ~ .login-reg-label,
.login-reg-input:not(:placeholder-shown) ~ .login-reg-label {
    top: -15px;
    opacity: .5;
    font-size: 14px;
    cursor: default;

    transition: .15s;
}



.login-reg-visible-switcher {

    position: absolute;
    display: flex;

    align-items: center;

    right: 20px;

    z-index: 1;

    opacity: 0;
    transition: opacity .1s;
}

.login-reg-visible-switcher label svg {
    fill: #373737;
}
.login-reg-visible-switcher>input {
    opacity: 0;
}
#password-visible-switcher:checked ~ .password-visible-switcher-off {
    display: block;
}
.password-visible-switcher-off,
#password-visible-switcher:checked ~ .password-visible-switcher-on {
    display: none;
}

.login-reg-input:focus ~ .login-reg-visible-switcher:hover,
.login-reg-input:not(:placeholder-shown) ~ .login-reg-visible-switcher:hover {
    opacity: 1;
    transition: opacity .1s;
}

.login-reg-input-container:hover .login-reg-input {
    border-bottom-color: #373737;
    transition: border-bottom-color .1s;
}

.login-reg-input:focus .login-reg-input-container:hover .login-reg-input,
.login-reg-input:not(:placeholder-shown) {
    border-bottom-color: #42A5FF;
    transition: border-bottom-color .1s;
}


.login-reg-input:focus ~ .login-reg-visible-switcher,
.login-reg-input:not(:placeholder-shown) ~ .login-reg-visible-switcher {
    opacity: 0.8;
    transition: opacity .1s;
}