.logo-container {
    user-select: none;
}
.logo-text {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    text-align: center;

    color: #FFFFFF;
}

.logo-icon {
    fill: #ffffff;
}