html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(69deg, #3282CC 13%, #89C7FF 72%, #7FC2FF 95%, #83C4FF 105%, #1A92FF 120%);
}


.main-container {
    display: flex;

    justify-content: space-around;
    align-items: center;

    flex-direction: column;

    width: 100%;
    height: 100%;
}