.to-login-reg-block {
    position: absolute;

    bottom: 50px;

    display: flex;
    gap: 7px;
}

.to-login-reg-text {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #ffffff;
}

.to-login-reg-link {
    display: flex;

    justify-content: space-around;
    align-items: center;

    gap: 5px;

    text-decoration: none;

    opacity: .9;
}
.to-login-reg-link:hover {
    opacity: 1;
}

.to-login-reg-link-text {
    font-family: PT Sans, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    color: #ffffff;
}

.to-login-reg-link-icon {
    fill: #ffffff;
}